@{
    ViewBag.Title = "Контакти";
}
<h3>@ViewBag.Title</h3>
<p>
    Наша головна мета — <strong>зібрати базу перевірених волонтерів та максимально поширити інформацію про них</strong>.
    Це допоможе залучити більше коштів для оперативної допомоги нашій армії, добровольцям та всім тим, хто так чи інакше постраждав від бойових дій на Донбасі.

    Немає ніякої таємниці в тому, що величезна державна машина, при всій своїй потужності, меньш ефективна,
    ніж сотня волонтерів, які за кілька місяців зробили те, що чиновники не змогли за 20 років.
    Тому підтримка волонтерів і допомога їм – надважливе завдання для всіх нас.
    Чим більше людей дізнається про існування волонтерів і чимось допоможе, тим ближче та легше стане наша перемога.

    Будемо дуже вдячні, якщо що Ви поділитесь посиланням на наш ресурс. Це найменше, що кожен з Вас може зробити для популяризації волонтерського руху.

    З питань офіційної інформаційної підтримки та з пропозиціями щодо покращення роботи сайту звертайтесь за вказаними контактами.
</p>
<br /><br />
<address>
    РОЛІ<br />
    м.Рівне: вул. Котляревського, 1<br />
</address>
<address>
    <strong>Підтримка:</strong>   <a href="mailto:vova.rozhko@gmail.com">vova.rozhko@gmail.com</a><br />
</address>