@using Jmelosegui.Mvc.GoogleMap

@{
    ViewBag.Title = "Домашня сторінка";
}
<div class="jumbotron" style="margin-top:initial;">
    <h1 style="text-align:center;margin-top:-4%;font-weight:bold;">Волонтерська система</h1>
    <p class="lead">Наш сайт призначений для того, аби ті, хто потребує допомоги, отримали її від тих, хто має можливість</p>
    <p style="text-decoration:underline;">Географія нашої діяльності: </p>
    <p>@{ Html.GoogleMap().Name("map").Height(500).ApiKey("AIzaSyCkFbA6yZJu_9 - i0KtQJvANZZfmwOZp0IQ")
                              .Center(c => c.Latitude(50.4546600).Longitude(30.5238000))
                              .Culture(System.Globalization.CultureInfo.GetCultureInfo("uk-UA"))
                              .MarkersGeocoding(true)
                              .FitToMarkersBounds(true)
                              .Markers(m =>
                              {
                                  int count = ((List<string>)ViewBag.cities).Count;
                                  for (int i = 0; i < count; i++)
                                  {
                                      m.Add().Address("Україна, " + ViewBag.states[i] + " область, "
                                          +  ViewBag.cities[i]);
                                  }
                              }).Render();
    }</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Ситуація в країні</h2>
        <p>
            В останній час ми почали все частіше чути про волонтерський рух,

            волонтерів. І якщо десь на теренах нашої держави з’являється нагальна життєва

            потреба у ліках, одягу, спеціальних засобах тощо, обов’язково з’являються

            небайдужі люди, що бажають допомогти. Військові дії, природні катаклізми,

            техногенні аварії та катастрофи – все це може стати об’єктами зосередження

            уваги волонтерів.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Зміниться</h2>
        <p>
            Але буває і так, що допомога приходить не завжди вчасно, буває так, що в

            одних місцях густо, а в інших пусто. Тож, виникає потреба у координації

            волонтерських зусиль. Сьогодні цим займаються спеціальні волонтерські

            організації. Вони збирають речі, медикаменти, обладнання на місцях, а потім

            пересилають у пункти, де вони потрібні. Транспортуванням допомоги

            займаються інші волонтери, які або надають транспортні засоби, або самі везуть

            вантаж у місця призначення. Дорога може бути небезпечною, ситуація в

            регіонах швидко змінюватися, і перевізники мають знати про ці зміни для того,

            щоб обрати найбезпечніший та найшвидший маршрут.
        </p>

    </div>
    <div class="col-md-4">
        <h2>На краще!</h2>
        <p>
            Волонтерським організаціям нагально потрібен інструмент, що допоможе

            вирішувати цілу низку виникаючих проблем. Цей інструмент – комплекс

            програмного забезпечення, що дозволить вести бази даних волонтерів, наявних

            ресурсів та потреб в цих ресурсах. Також він включає в себе систему ефективного

            керування запасами, розподілу ресурсів, автоматичного визначення

            оптимальних маршрутів в динаміці.
        </p>
    </div>
</div>

@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
}