@{
    ViewBag.Title = "Підтвердження e-mail";
}

<h2>@ViewBag.Title</h2>

<div>
    <p>
        E-mail успішно підтверджено. Будь ласка, @Html.ActionLink("натисніть тут, щоб ввійти в свій обліковий запис", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
