@{
    ViewBag.Title = "Пароль відновлено!";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Ваш пароль відновлено. Будь ласка, @Html.ActionLink("натисніть тут, щоб увійти в обліковий запис", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
